<STYLE>  

h1 {
	font-family: 'Cormorant Upright', serif;
 	font-size: 50px;
 	font-style: bold;
 	text-align: center;
      }

h1 {
	font-family: 'Cormorant Upright', serif;
 	font-size: 50px;
 	font-style: bold;
 	text-align: center;
      }

h4 {
 font-family: 'Dancing Script', cursive;
 font-size: 25px;
 font-style: bold;
 color: #5c2559;
 text-align: center;
}
h6 {
 font-family: 'Dancing Script', cursive;
 font-size: 15px;}
p {
 font-family: 'Reem Kufi', sans-serif;
 font-size: 15 px;
 text-align: justify;
 }
ul {
 font-family: 'Cormorant Upright', serif;
 font-size: 18px;
    }
</STYLE>
